.barVolumeBlock {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 92px 0 0;
    margin-left: auto;
}

.volumeContent {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.volumeImage {
    width: 13px;
    height: 18px;
    margin-right: 17px;
}

.volumeSvg {
    width: 13px;
    height: 18px;
    fill: transparent;
}

.volumeProgress {
    width: 109px;
}

.volumeProgressLine {
    width: 109px;
}
